@model IEnumerable<CrediV1_Prueba.Entities.ProductoEnt>
@{
    ViewData["Title"] = "ListadoProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />

<style>
    /* Estilos personalizados para las columnas */
    .acciones-col {
        white-space: nowrap;
        width: 150px; /* Ajusta el ancho según tus necesidades */
    }
</style>

<div class="container">
    <div class="container mt-4">
        <a href="@Url.Action("AgregarProducto", "Inventario")" class="btn" type="submit" id="button-addon2"> <i class="">Agregar Proveedor</i> </a>
    </div>

    <div class="container mt-4">
        <table id="mitabla" class="table table-hover" style="text-align:center">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Costo</th>
                    <th>Cantidad Stock</th>
                    <th>Estado</th>
                    <th class="acciones-col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var producto in Model)
                {
                    <tr>
                        <input type="hidden" name="idProducto" id="idProducto" value="@producto.idProducto" />
                        <td>@producto.nombre</td>
                        <td>@producto.costo</td>
                        <td>@producto.cantidadStock</td>

                        @if (producto.estado)
                        {
                            <td>Activo</td>
                            <td style="text-align:center">
                                <button class="btn btn-danger confirmButtonInactivar" data-id="@producto.idProducto">Inactivar</button>
                                <a class="btn btn-danger" asp-controller="Inventario" asp-action="EditarProducto" asp-route-idProducto="@producto.idProducto">Editar</a>
                            </td>
                        }
                        else
                        {
                            <td>Inactivo</td>
                            <td style="text-align:center">
                                <button class="btn btn-danger confirmButtonInactivar" data-id="@producto.idProducto">Activar</button>
                                <a class="btn btn-danger" asp-controller="Inventario" asp-action="EditarProducto" asp-route-idProducto="@producto.idProducto">Editar</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Carga de jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.querySelectorAll('.confirmButtonInactivar').forEach(button => {
        button.addEventListener('click', async function () {
            let idProducto = this.getAttribute('data-id');

            const data = {
                idProducto: parseInt(idProducto)
            };

            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡Esto desactivará/activará el producto!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#0d6efd',
                cancelButtonColor: '#c31e1e',
                confirmButtonText: 'Sí',
                cancelButtonText: 'Cancelar'
            }).then(async (result) => {
                if (result.isConfirmed) {
                    try {
                        const response = await fetch('@Url.Action("DesactivarProducto", "Inventario")', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        });

                        if (response.ok) {
                            const mensaje = await response.text();
                            Swal.fire({
                                icon: 'success',
                                title: 'Acción Realizada',
                                text: mensaje
                            }).then(() => {
                                window.location.href = '@Url.Action("ListadoProducto", "Inventario")';
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Hubo un problema al cambiar el estado del producto.'
                            });
                        }
                    } catch (error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Hubo un problema al cambiar el estado del producto.'
                        });
                    }
                }
            });
        });
    });
</script>

<!-- Inicialización de DataTables -->
<script>
    $(document).ready(function () {
        $('#mitabla').DataTable({
            "columnDefs": [
                { "width": "450px", "targets": 4 } // Ajusta el índice según la columna "Acciones"
            ]
        });
    });
</script>
